.expenses {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
  max-width: 40rem;
}

.expenses-message {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.expenses-filter {
  margin-bottom: 1rem;
}

.expenses-filter label {
  font-weight: bold;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 1rem;
}

.expenses-filter select:focus {
  outline: none;
}

.expenses-filter select option {
  font: inherit;
}
